body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px; 
}
.row.container-fluid {
    MARGIN-TOP: -20px !important;
}
.deploymentStages{
    margin-bottom: 7%;
}
*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
*::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}
button.close {
    background: transparent !important;
    color: #008 !important;
}
button{
    border-radius: 29px !important;
    padding: 2px 20px !important;
    color: #fff;
    background-color: #004dff;
    background-image: linear-gradient(90deg, #004dff, #00baff);
    border-color: #004dff;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid darkgray;
}
button:hover, input:hover, optgroup:hover, select:hover, textarea:hover {
    /* margin: 0; */
    opacity: 0.7;
}
button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
    /* margin: 0; */
    outline:none;
}
.btn{
    background-color: #008;
    border-color: #008;
}
.btn:hover {
    color: #fff;
    background-color: #008;
    border-color: #008;
}
hr{
 border: 1px solid gray;
 margin-top: 0px;
 opacity: 0.3;
 background-color: white;
}
p {
    margin: 1rem;
}
Table{
    margin-bottom: 0px !important;
}

/*API Message*/
.successMessage{
    position: fixed;
    top: 10;
    background: #ccffcc;
    color:green;
    width: 100%;
    padding: 0x 21px;
    left: 0;
    top: 117px;
    z-index: 20;
    text-align: center;
    font-size: 26px;
}
.errorMessage{
    position: fixed;
    top: 10;
    background:#ffcccc;
    color:  red;
    width: 100%;
    padding: 0x 21px;
    left: 0;
    top: 117px;
    z-index: 20;
    text-align: center;
    font-size: 26px;
}
/*Modals*/
.w-25 {
    width: 35%!important;
}
.modalbody {
    padding: 0% 9%;
}
/* #deployLaterInput{
    width : 32%;
} */
/*Overview Banner Content*/
.devops-container, .banner-block{
    text-align:center
}

/*Side Nav*/
a:focus, div:focus{
    outline:none;
}
a.menu-item.sub-menu {
    color:#d1d1d1;
}
.collapse:not(.show), #Onboarding:not(.show), #Ecosystem:not(.show) ,#Testing:not(.show), #Monitoring:not(.show) {
    display: none !important;
}
.collapse.show{
    display:block;
}

.arrow {
    border-color: #d1d1d1;
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 6px;
    padding: 3px;
  }
 
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
#accordionLeftNav>div{
    padding-bottom: 10px;
}
  .collapsed .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .pageHeading{
    font-weight: bold;
    font-size: 26px;
  }
/*Table*/
tbody tr, thead tr{
    line-height: 2;
}
.table{margin-top: 1%;}
.table td{
    vertical-align: middle;
    padding: 1px 4px;
}
.table th {
    vertical-align: middle;
    padding: 10px 4px ;
    border-top: none !important;
}
.userRole{
    margin:0px;
}
button.btn {
    padding: 1px 10px;
}
.table-hover > tbody > tr:hover > td{
    background-color: #D3D3D3;
}

/*Multi select*/
.multiselect {
    width: 200px;
    display: inline-block;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
      margin: 0px;
    display: none;
    border: 1px #dadada solid;
    border: 1px #dadada solid;
    position: absolute;
    background: #fff;
    width: inherit;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  input[type=checkbox], input[type=radio] {
        margin: 0 8px;
    }
    #checkboxes option{
        display: inline-block;
    }
/*Trash bin*/
.fa.fa-trash.fa-2x, .fa.fa-trash.fa-x{
    border: none;
    color: grey;
    padding: -4px;
    position: relative;
    top: 4px;
    background: none;
}
.fa-pencil-square-o{
    border: none;
    color: grey;
    padding: -4px;
    position: relative;
    top: 4px;
    background: none;
}
.deleteRow{
    font-size: 22px;
    top: 0px !important;
}

/* footer */
.myw-footer {
    text-align: center;
    font-size: .875rem;
    padding: .5rem 0;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    background: url(./Images/bg-footer.png) no-repeat right center #008;
    color: #eee;
    bottom: 0;
    width: 100%;
}
/* layout */
.root-container{
    position: relative;
    min-height: 100vh;
}
.cas-container{ padding-left: 1rem; padding-right: 1rem; }
/* @media (min-width: 992px){ .cas-container{ padding-left: 1rem; padding-right:1rem; } } */
.cas-wrapper, .cas-wrap{display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;}
.cas-wrapper{ min-height: 100vh; min-width: 768px; position: relative; padding-left: 0; padding-right: 0; }
.cas-wrap{ -ms-flex: 1 1 auto; flex: 1 1 auto; }
.cas-fixed .cas-wrap{ padding-top: 3.75rem; }
.cas-footer{ text-align: center; font-size: 0.75rem; padding: 0.25rem 0.5rem; flex-shrink: 0;
        background-color: #fff; box-shadow: 0 0 2px 0 #ccc; position: relative;
        /* z-index: 1;  */
}
.cas-content{ position: relative; }
header
.myw-app-header{ position: relative; height: 4.375rem; background-color: #fff; }
.myw-brand{ padding-bottom: 1.5rem; }
.myw-brand img{ height: 1.75rem; width: auto; }
.myw-brand span{ display: block; position: relative; top: .25rem; margin: 0 .625rem; padding-left: .625rem; 
	border-left: 1px solid #000; font-size: 1.25rem; font-weight: bold; color: #008; line-height: 1; }
.myw-brand span img{ height: 1.25rem; }
.myw-header-nav{ position: relative; margin-left: auto; }
.myw-header-item{ min-width: 3.125rem; padding: 0 .5rem; color: inherit; display: -ms-flexbox; display: flex; 
	-ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; color: #000; }
.myw-header-item:hover, .myw-header-item:focus, .show > .myw-header-item{ background-color: rgba(0,0,0,.04); text-decoration: none; color: #000; }
.myw-header-item img{ max-height: 1.5rem; width: auto; }

/* topbar */
.myw-topbar{ background-color: #008; }
.myw-topbar .myw-inner{ height: 3.125rem; background: url('./Images/bg-topbar.png') no-repeat -.5rem center transparent; }
.myw-topbar .myw-app-name{  background: url('./Images/bg-topbar.png') no-repeat -4.75rem center transparent;
    font-size: 1.25rem; font-weight: 600; padding: .5rem 0; display: flex; margin-right: 1rem; color: #fff; width: 100%; max-width: 100%; }
.myw-topbar a.myw-app-name:focus, .myw-topbar a.myw-app-name:hover{ text-decoration: underline; }

/* navbar */
.myw-navbar{ background-color: #f4f4f4; }
.myw-navbar .myw-inner{ min-height: 3.125rem; }
.myw-navbar .myw-inner:after{ content: ''; min-height: inherit; font-size: 0; line-height: 0; display: block; }
.myw-navbar .myw-nav .nav-link{ font-size: 1rem; padding-top: 1rem; }
.myw-navbar-divider{ width: 100%; border-top: 1px solid #fff; }
.myw-sticky .myw-topbar, .myw-sticky .myw-navbar{ position: sticky; top: 0; width: 100%; z-index: 999; }
.myw-sticky .myw-navbar{ top: 3.125rem; }

.devops-landing {
    background: url(./Images/landing-bg.png) no-repeat left center transparent;
    background-size: cover;
    padding: 3rem 3rem 1rem 3rem;
    position: relative;
    top: 35px;
}

/* custom controls */
.myw-control-inline{ max-width: 12.5rem; }
.myw-control{ position: relative; }
.myw-control > .form-control:last-child{ padding-left: 2.25rem; } 
.myw-control > .form-control:first-child{ padding-right: 2.25rem; } 
.myw-control > span, .myw-control > a{ position: absolute; top: .125rem; left: .125rem; bottom: .125rem; width: 2rem;
	display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; 
	-ms-flex-pack: center; justify-content: center; border-radius: 50rem 0 0 50rem;
	color: #000; font-size: 1.25rem; line-height: 1; font-weight: 500; }
.myw-control > span:last-child, .myw-control > a:last-child{ left: auto; right: .125rem; border-radius: 0 50rem 50rem 0; }
.myw-control > a:hover, .myw-control > a:focus{ text-decoration: none; background-color: rgba(0,0,0,.1); 
	color: #2800ff; outline: 0; box-shadow: none; }
.myw-control > .form-control:not(.control-border) + a{ border-radius: 0; }
.myw-control > .form-control:not(.control-border) + a:hover{ background-color: transparent; }
.myw-control > .form-control:not(.control-border) + a:focus{ background-color: transparent; box-shadow: 0 2px 0 #2800ff; }
.myw-control img{ width: 1rem; height: 1rem; }

.devops-landing { 
    background:url("./Images/landing-bg.png") no-repeat left center transparent; 
    background-size:cover; 
    padding:3rem 3rem 1rem 3rem; 
}

.login .form-control{ height: calc(1.5em + .5rem + 2px); padding: .25rem .375rem; font-size: .875rem; line-height: 1.5;
	background-color: #fff; color: var(--color); border-left:0; border-right:0; border-top:0; }
.login .form-control:focus{ color: var(--color); background-color: #fff; outline: 0; box-shadow: none; border-left:0; border-right:0; border-top:0; border-color:#000088; }
.login .form-control:disabled, .login .form-control[readonly]{ background-color: var(--inactive); color: var(--color-secondary); border-color: var(--border-dark); }
.login .form-control-plaintext{ padding-top: 0.25rem; padding-bottom: 0.25rem; color: var(--color); outline: 0; }

.login .btn-primary{ background-color: var(--button); background-image: linear-gradient(90deg, #004DFF, #00BAFF); 
	 color: #fff; }
.login .btn-primary:hover{ background-color: var(--button-hover); background-image: linear-gradient(90deg, #0043DB, #0083DB); 
	color: #fff; }
.login .btn-primary:not(:disabled):not(.disabled).active, 
.login .btn-primary:not(:disabled):not(.disabled):active{ background-color: var(--button-hover); background-image: linear-gradient(90deg, #0043DB, #0083DB); 
    border-color: transparent; color: #fff; }
    
.devops-login-btn  { display: flex; width: 100%; padding: 0.7rem 1rem; border-radius: 2rem; font-size: 1rem; }

.c-topbar__title {
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-family: 'Graphik semibold';
	margin-bottom: 0;
	padding: .5rem 1rem;
	color: #fff;
	text-decoration: none;
}

.c-topbar {
	background:#000088;
	height: 40px;
	display: flex;
	width: 100%;
	transition: all 1s ease;
}

.c-topbar__inner {
	background: url(./Images/bg-topbar.png) no-repeat -4.75rem center transparent;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.cas-footer {
    text-align: center;
	font-size: 0.75rem;
	padding: 0.7rem;
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	background: url(./Images/bg-footer.png) no-repeat right center #000088;
	color: #eee;
}

.c-footer__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	font-size: 0.75rem;
}

.c-footer__inner a, .c-footer__inner a:hover {
	display: flex;
	align-items: center;
	margin: 0 0 0 0.25rem;
	text-decoration: none;
	color: inherit;
}

.white .c-footer__inner a, .white .c-footer__inner a:hover,
.default .c-footer__inner a, .default .c-footer__inner a:hover {
    color: #fff;
}

.c-footer__inner a + a:before {
	content: '|';
	margin-right: 0.5rem;
	line-height: 1;
	position: relative;
	top: -1px;
}

.c-cta__button {
	background-image: linear-gradient(90deg, #004DFF, #00BAFF);
	border: 1px solid #00BAFF;
	color: #fff;
	display: inline-flex;
	border-radius: 20px;
	font-size: 0.875rem;
	justify-content: center;
	align-items: center;
	padding: 5px 20px;
	outline: none;
	cursor: pointer;
}

.c-cta__button:hover,
.c-cta__button:focus {
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

/* Deployment Tabs */
.unselected{display:block}
.selected{display:none}
.activeTab{display:block!important}
.inactiveTab{display:none!important}

.verticalLine{
    width: 4px;
    height: 80%;
    background-color: blue;
    margin: 5px 16px;
    display: inline-block;
}
/* .horizontalLine{
    height: 4px;
    width: 6%;
    background-image: linear-gradient(90deg, #004DFF, #00BAFF);
    margin: 5px 16px;
    display: inline-block;
} */
span.stageStatus {
    font-size: 11px;
    display: block;
}
i.fa.fa-check-circle{color:green}
.statusTable.row{padding-bottom: 7px;}
.DepName {
    color: blue;
    FONT-WEIGHT: bold;
}
.deploymentStagesTitle{font-weight: bold}
.deploymentTime{
    font-size: 14px;
    color: grey;
}
.deploymentStages p{line-height: 0.6;}
p.deploymentStagesTitle {
    line-height: 2.6;
}
.stage {
    font-size: 15px;
}

/* Left Navigation myWiz */
.myWizLeftNavContainer{
    text-align: center;
    margin-top: 8%;
}
.myWizLeftNavContainer a{
    display: block;
    margin: 25px 10px;
    border: 1px solid;
}
.myWizLeftNavContainer .default{
    background-color: #fff;
    padding: 6px 43px 3px 18px;
    border-radius: 10px;
    box-shadow: 1px 1px #008;
    color:#008;
    font-size: 12px;
}
.myWizLeftNavContainer .selectedItem{
    background-color: #008;
    padding: 6px 43px 3px 18px;
    border-radius: 10px;
    color:#e6e6e6;
    font-size: 12px;
}
span.leftNavText{
    margin: 0px !important;
    font-size: 12px;
}
span.leftNavText:hover {
    margin: 0;
    font-size: 12px;
}
.myWizLeftNavContainer .default:hover, .myWizLeftNavContainer .selectedItem:hover{
    transform: perspective(500px) translate3d(0px, 0px, 30px);
    /* transition: 0.5s; */
}
/* Top Navigation myWizard */
.myWizTopNav {
    margin: 14px;
}
.myWizTopNav a {
    margin: 28px;
    font-size: 14px;
    color: #5A5A5A;
}

/* Main Content */
.mainContent{
    margin-top:2%;
    margin-bottom:5%;
}
/* //Asset Page */
.assetInfo>span{
    display: block
}
#AssetName {
    font-size: 20px;
}
.displayAssetContainer {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
span.assetInfo.block2 {
    font-size: 14px;
    padding: 0;
}
/* #localRepoFile, #remoteRepoFile{display:none} */

/* Table Heading */
.CounterNumbers {
    color: #008EFF;
    font-size: 25px;
    font-weight: 700;
    padding: 0px 7px;
}
.counterTitle {
    color: #868484;
    font-weight: 500;
}
.counterHolder {
    display: inline-block;
    padding: 0px 25px 0px 0px;
}
.counter {
    display: inline-block;
}
.rightContainer {
	display: block;
}
.toprightIcons{
    padding: 0px 15px;
}
.toprightIcons i{
    color: #004dff;
    font-size: 20px;
}
.topRight.float-right {
    padding-top: 0px;
}

/* Home Page */
.arrow1, .arrow2 {
    font-size: 36px;
    margin-top: 10%;
    position: absolute;
    font-weight: 900;
    z-index: -1;
}
.arrow1{left: 22%;
    color: #ace600
}
.arrow2{left: 47%;
    color: #33ccff
}
.arrow1 i, .arrow2 i{
    font-size: 150px;
}
.container-fluid.overview {
    margin-top: 3%;
}
.cardContainer {
    /* margin: 30px; */
    background-color: #fdff;
    height: 400px;
    border-radius: 20px;
    box-shadow: 19px 18px;
}
#cardContainer1{
    box-shadow: 27px 18px #ace600;
}
#cardContainer2{
    box-shadow: 27px 18px #33ccff;
}
#cardContainer3{
    box-shadow: 27px 18px #80ccff;
}
.cardImgHolder img{
    margin: 10% 0%;
    width: 100%;
}
.onboardCards {
    font-size: 40px;
    font-weight: bold;
}

/* //Progress Bar */
.progressbarContainer{
    border : 1px solid;
}
.progressbarContent{
    top: -5px;
    position: relative;
}
/* healthCheckup Page */
#healthCheckup{
    margin-top: 50px !important;
}