.devops-landing { 
    background:url("../images/landing-bg.png") no-repeat left center transparent; 
    background-size:cover; 
    padding:3rem 3rem 1rem 3rem; 
}

/* Login Start */
.login .form-control{ height: calc(1.5em + .5rem + 2px); padding: .25rem .375rem; font-size: .875rem; line-height: 1.5;
	background-color: #fff; color: var(--color); border-left:0; border-right:0; border-top:0; }
.login .form-control:focus{ color: var(--color); background-color: #fff; outline: 0; box-shadow: none; border-left:0; border-right:0; border-top:0; border-color:#000088; }
.login .form-control:disabled, .login .form-control[readonly]{ background-color: var(--inactive); color: var(--color-secondary); border-color: var(--border-dark); }
.login .form-control-plaintext{ padding-top: 0.25rem; padding-bottom: 0.25rem; color: var(--color); outline: 0; }

.login .btn-primary{ background-color: var(--button); background-image: linear-gradient(90deg, #004DFF, #00BAFF); 
	 color: #fff; }
.login .btn-primary:hover{ background-color: var(--button-hover); background-image: linear-gradient(90deg, #0043DB, #0083DB); 
	color: #fff; }
.login .btn-primary:not(:disabled):not(.disabled).active, 
.login .btn-primary:not(:disabled):not(.disabled):active{ background-color: var(--button-hover); background-image: linear-gradient(90deg, #0043DB, #0083DB); 
    border-color: transparent; color: #fff; }
    
.devops-login-btn  { display: flex; width: 100%; padding: 0.7rem 1rem; border-radius: 2rem; font-size: 1rem; }

.devops-login-desc { color:#b2b2b2; }

#invalid {
    display: none;
    text-align: center;
    font-weight: bold;
    color: darkred;
}
/* Login End */

.btn img{ max-width: 1.25rem; max-width: 100%; height: auto; max-height: 1rem; }

.de-region-toggle{ cursor: help; }
.de-region{ position: absolute; left: 50%; bottom: 100%; background-color: #fff; border-radius: .5rem; padding: .25rem .5rem;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.1); width: 22rem; border: 1px solid #eee; display: none; font-size: .75rem; }
.de-region-toggle:hover + .de-region{ display: block; z-index: 500;}

.version-text {
    margin-left: auto;
    padding: .9rem 0;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
}

.modal #expire { 
    z-index: 2000; 
 }
 
 #expire .modal-backdrop.show { 
     opacity: .5; z-index: -500; 
 }